<launch>
	<include file="$(find vision)/launch/usbCam.launch" />
	<include file="$(find vision)/launch/holeFindNode.launch" />
	<include file="$(find vision)/launch/motionNode.launch" />
	<include file="$(find vision)/launch/qrcodeNode.launch" />
	<include file="$(find vision)/launch/hazmatNode.launch" />
	<include file="$(find vision)/launch/faceNode.launch" />
	<include file="$(find vision)/launch/landoltCNode.launch" />
	
<!--
	<include file="$(find vision)/launch/lineColorNode.launch" />
-->
</launch>

