<launch>

	<include file="$(find pandora_vision_launchers)/launch/usb_cam.launch" />
	<include file="$(find pandora_vision_qrcode)/qrcode_node.launch" />
	
<!--
	<include file="$(find pandora_vision_face)/launch/holeFindNode.launch" />
	<include file="$(find pandora_vision_face)/launch/motionNode.launch" />
	<include file="$(find pandora_vision_face)/launch/qrcodeNode.launch" />
	<include file="$(find pandora_vision_face)/launch/hazmatNode.launch" />
-->
<!--
	<include file="$(find pandora_vision_face)/launch/faceNode.launch" />
-->
<!--
	<include file="$(find pandora_vision_face)/launch/landoltCNode.launch" />
-->
	
</launch>

