<launch>
  <node name="pandora_motion" type="pandora_vision_motion_node" pkg="pandora_vision_motion"
    respawn="False" output="screen" >

    <rosparam file="$(find pandora_vision_motion)/config/motion_topics.yaml"
      command="load" />

    <rosparam file="$(find pandora_vision_motion)/config/motion_params.yaml"
      command="load" ns="detector" />
  </node>

</launch>
