<launch>
    <group ns="vision">
			<node name="landoltCNode" type="landoltCNode" pkg="vision" respawn="False" output="screen" />
			<!-- Add in upper line to enable debugging: launch-prefix="kdbg" /-->
			
			<!-- Package Path /-->
			<param name="/vision/packagepath" value="$(find vision)" />

			<include file="$(find vision)/launch/general_params.launch" />		

    </group>
</launch>
