<launch>
  <arg name="nodelet_manager" default="/kinect/kinect_nodelet_manager" />

  <!-- <node name="pandora_vision_color" type="pandora_vision_color_node" pkg="pandora_vision_color" -->
  <!--   respawn="False" output = "screen">                                                -->
  <node pkg="nodelet" type="nodelet" name="pandora_color"
    args="standalone pandora_vision/pandora_vision_color"  output="screen" >
    <rosparam file="$(find pandora_vision_color)/config/color_topics.yaml"
      command="load" />
  </node>

</launch>
